body{
    
    background-color: blue;
    font-family: Arial;
}

h1 {
    
    color:red;
    font-size: 36px;
    text-align: center;
}

p{
    color: green;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    
}

.caja{
    
    background-color: yellow;
    color: black;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    margin: 20px auto;
    
    
}
